body {
	padding: 0;
	margin: 0;
	font-family: "Agency FB", sans-serif;
	background-color: #c4cde2;
	background-image: url(./background.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.zoom {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.main {
	display: flex;
	justify-content: left;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 6px 10px #686969;
}
.imageContainer {
	background-image: url(./image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 400px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	align-items: center;
}
.imageTxt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	color: #1ec1f5;
	font-size: 3rem;
	gap: 10px;
	height: 100px;
	font-weight: bold;
	font-style: italic;
}
.img {
	height: 80%;
}
.header {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: #193a5f;
	padding: 3vh 0 0 0;
}
.underHeader {
	display: block;
	font-size: 2.5rem;
	font-style: italic;
	color: #0e6d8d;
}
.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	gap: 1vw;
	background-color: #ffffff;
	padding: 5vh 5vh 0 5vh;
}
.rows {
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 23px;
	gap: 40px;
}
.rows > div {
	flex-grow: 1;
}
input {
	border-radius: 4px;
	border: 1px solid #193a5f;
	background-color: #f1f1f1;
	font-size: 15px;
	width: 100%;
	height: 25px;
}
input:focus {
	border: 1px solid #1ec1f5;
	box-shadow: 0 1px 4px black;
	outline: none;
}
button {
	font-size: 1.5rem;
	padding: 5px 65px;
	background-color: #0e6d8d;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 5vh;
}
button:hover {
	background-color: #0e6d8dc9;
}
button:active {
	transform: translateY(2px);
}
.haveAcc {
	font-size: 1.2rem;
	margin-bottom: 20px;
	margin-top: 5px;
}
.link {
	color: #193a5f;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.link:hover {
	color: #193a5fc9;
}
.invalid {
	outline: solid 1px red;
	box-shadow: 0 1px 4px red;
}
.noMatch {
	text-align: center;
	font-size: 18px;
	color: red;
	padding-top: 3px;
}
.enable {
	display: block;
}
.disable {
	display: none;
}

@media (max-width: 1000px) {
	.main {
		flex-direction: column;
	}
	.imageContainer {
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-position: top;
	}
	.imageTxt {
		background-color: rgba(0, 0, 0, 0.4);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

}

@media (max-width: 620px) {
	.header{
		font-size: 2.4rem;
	}
	.underHeader{
		font-size: 1.9rem;
	}

	.imageContainer {
		border-radius: 0;
	}
	.imageTxt {
		border-radius: 0;
	}
	.zoom {
		display: block;
		height: auto;
	}
	.main {
		border-radius: 0;
		box-shadow: none;
	}
	body {
		background-color: #ffffff;
	}
	.rows {
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: start;
		font-size: 1.2rem;
		gap: 20px;
	}
	.inputs{
		margin-top: 20px;
		padding: 0 20px;
		gap:20px
	}
	input{
		height: 30px;
	}
	.rows>div{
		width: 100%;
	}
}
