body{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #DFD0B8;
}
.header{
    margin-top: 30px;
    font-size: 2.5rem;
    margin-bottom: 0;
    color:#153448;
}
.underHeader{
    margin-bottom: 45px;
    font-size: 1.5rem;
    color:gray;
    font-style: italic;
}
.btn{
    padding: 5px 20px;
    min-width: 160px;
    color:#153448;
    background-color: #948979;
    border-radius: 5px;
    border:none;
    font-size: 25px;
    cursor: pointer;
}
.btn:hover{
    background-color: #948979b4;
}
.btn:active {
    transform: translateY(2px);
  }
.scores{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    color:#153448;
}
.result{
    color:#153448;
    margin-top: 45px;
    font-size: 1.5rem;
}
@media screen and (max-width: 520px)
{
    .btn{
        margin:0;
        width:50%;
    }
    .choices{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
}