body {
	height: 100vh;
	--dark-blue: #27374d;
	--blue: #526d82;
	--light-blue: #9db2bf;
	--bright: #dde6ed;
	background-color: #27374dd8;
	font-family: "Roboto", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	color: var(--bright);
}
.container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 1.5fr 3fr 0.3fr;
	height: 100%;
	column-gap: 20px;
}
.container * {
	border-radius: 15px;
	background-color: var(--dark-blue);
}
.header {
	margin: 20px 20px 20px 0;
	grid-column: 2/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
}
.user {
	display: flex;
	align-items: center;
	gap: 10px;
}
.name{
font-size: clamp(1rem, 2vw, 1.5rem);
}
.status{
	font-size: clamp(0.5rem, 1.5vw, 1rem);
}
.header img {
	height: 50px;
}
.icons {
	display: flex;
	align-items: center;
	gap: 15px;
}
.icons img{
	height: clamp(30px,2vw ,35px);
	cursor: pointer;
}
.sidebar img {
	height: 35px;
	cursor: pointer;
}
.icons > div {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}
.sidebar {
	border-radius: 0;
	grid-row: 1/4;
	grid-column: 1/2;
	display: grid;
	grid-template-rows: 130px 1fr 130px;
	padding-left: 10px;
}
.sideMain {
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	font-weight: bold;
	padding-right: 30px;
}
.sideItems {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.sideItem {
	display: flex;
	gap: 10px;
	padding: 5px 5px;
	align-items: center;
	border-radius: 0;
	cursor: pointer;
}
.sideItem:hover {
	background-color: rgba(72, 94, 126, 0.856);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.analytics {
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-bottom: 20px;
	background-color: transparent;
}
.analyticsTab {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	gap: 10px;
}
.analyticsTab img {
	height: 80px;
}
.analyticsTab div:nth-child(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: bold;
}
.analyticsTab div:nth-child(2) {
	font-size: 1rem;
	text-align: center;
}
.table {
	grid-column: 2/3;
	grid-row: 3/4;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: transparent;
	gap: 20px;
}
.row,
.firstRow {
	text-align: center;
	align-items: center;
	border-radius: 0;
	grid-column: 1/5;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.firstRow {
	font-size: 1.5rem;
	border-radius: 10px;
}
.firstRow div {
	background-color: transparent;
}
.row {
	border-radius: 30px;
	background-color: #336856;
}
.notSold {
	background-color: #792929;
}
.row div {
	border-radius: 0;
	font-size: 1.1rem;
	background-color: transparent;
	border-right: 1px solid white;
}
.row div:last-child {
	border-right: none;
}
.other {
	background-color: transparent;
	margin: 0 20px 20px 0;
	grid-column: 3/4;
	grid-row: 2/4;
	display: grid;
	gap: 20px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.other::-webkit-scrollbar {
	display: none;
}
.content {
	padding: 0 5px 0 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.customer {
	padding: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.customer div:first-child {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.4rem;
}
.customer div:nth-child(2) {
	display: flex;
	gap: 4px;
}
.comments {
	padding: 20px;
	font-size: 2rem;
}
.star {
	height: clamp(10px, 1vw, 20px);
}
.footer {
	background-color: rgba(43, 57, 77, 0.466);
	border-radius: 0;
	grid-column: 1/4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer a {
	text-decoration: none;
	color: var(--bright);
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 5px;
}
a:hover {
	opacity: 0.5;
}
.footer img {
	background-color: transparent;
	height: 20px;
}
@media (max-width: 1400px) {
	body {
		height: 100%;
	}
	.header {
		padding: 15px 15px;
	}
	.sidebar {
		grid-row: 1/5;
	}
	.container {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 120px minmax(250px,1fr) 500px 500px 50px;
	}
	.other {
		grid-column: 2/3;
		grid-row: 4/5;
		margin-right: 0;
	}
	.star{
		height: 20px;
	}

}
@media (max-width:1000px)
{
	.analytics div:nth-child(3)
	{
		grid-column: 1/3;
	}
}
